{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="text-left">
      <h2>Credentials</h2>
      <p class="fw-semibold">Author: {{ author }}</p>
    </div>
  </div>
</div>
{% endblock %}
