<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"
    ></script>

    <title>Zadanie 3</title>
  </head>

  <body class="bg-light">
    <header>
      <nav class="navbar bg-warning navbar-light">
        <a class="navbar-brand" href="/">
          <img
            src="/static/Images/logo.png"
            alt="Logo"
            width="100"
            height="80"
            class="d-inline-block align-text-center"
          />
          Home
        </a>
      </nav>
    </header>

    <div
      class="modal fade"
      id="cookieModal"
      tabindex="-1"
      aria-labelledby="cookieModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="cookieModalLabel">
              Cookie
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>Strona wykorzystuje Cookie</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-warning"
              data-bs-dismiss="modal"
              onclick="acceptCookies()"
            >
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="alertContainer"
      class="d-block container-fluid bg-light text-center"
    >
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Test</strong> Alert
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <div class="text-center">
      <button type="button" onclick="toggleContainer()" class="btn btn-warning">
        Ukryj/Pokaż Alerty
      </button>
    </div>
    <script>
      function acceptCookies() {
        localStorage.setItem("cookiesAccepted", "true");
        var cookieModal = new bootstrap.Modal(
          document.getElementById("cookieModal")
        );
        cookieModal.hide();
      }

      function showCookieModal() {
        localStorage.removeItem("cookiesAccepted");
        var cookieModal = new bootstrap.Modal(
          document.getElementById("cookieModal")
        );
      }

      if (localStorage.getItem("cookiesAccepted") !== "true") {
        var cookieModal = new bootstrap.Modal(
          document.getElementById("cookieModal")
        );
        cookieModal.show();
      }

      function toggleContainer() {
        var container = document.getElementById("alertContainer");
        container.classList.toggle("d-none");
      }
    </script>

    <div class="container-fluid">
      <div class="row">
        <div class="col-1 bg-warning text-center">
          <h2>Menu</h2>
          <br />

          <div class="d-grid gap-2 col-12 mx-auto">
            <a class="btn btn-light" href="/Aboutme" role="button">About Me</a>
          </div>
          <div class="d-grid gap-2 col-12 mx-auto">
            <a class="btn btn-light" href="/table" role="button">Table </a>
          </div>
          <div class="d-grid gap-2 col-12 mx-auto">
            <a class="btn btn-light" href="/credentials" role="button"
              >Credentials</a
            >
            <br /><br />
          </div>
        </div>
        <div class="col-11 bg-light">
          <main>{% block content %}{% endblock %}</main>
        </div>
      </div>
    </div>

    <footer>
      <div class="text-center fixed-bottom">
        <button
          type="button"
          class="btn btn-warning"
          onclick="showCookieModal()"
        >
          Usuń informacje o cookie
        </button>
        <p class="fw-light">DW 2023</p>
      </div>
    </footer>
  </body>
</html>
