{% extends "layout.html" %} {% block content %}
<div class="container-fluid mt-3">
  <div id="table"></div>
</div>
<script>
  var tabledata = [
    { id: 1, name: "Anna", sname: "Nowak", email: "anna.nowak@gmail.com" },
    { id: 2, name: "Jan", sname: "Kowalski", email: "jan.kowalski@onet.pl" },
    {
      id: 3,
      name: "Katarzyna",
      sname: "Wójcik",
      email: "katarzyna.wojcik@gmail.com",
    },
    {
      id: 4,
      name: "Piotr",
      sname: "Wojciechowski",
      email: "piotr.wojciechowski@wp.pl",
    },
    {
      id: 5,
      name: "Magdalena",
      sname: "Kwiatkowska",
      email: "magdalena.kwiatkowska@gmail.com",
    },
    {
      id: 6,
      name: "Mateusz",
      sname: "Krawczyk",
      email: "mateusz.krawczyk@onet.pl",
    },
    {
      id: 7,
      name: "Alicja",
      sname: "Zieliński",
      email: "alicja.zielinski@gmail.com",
    },
    {
      id: 8,
      name: "Tomasz",
      sname: "Szymański",
      email: "tomasz.szymanski@wp.pl",
    },
    {
      id: 9,
      name: "Ewa",
      sname: "Włodarczyk",
      email: "ewa.wlodarczyk@gmail.com",
    },
    {
      id: 10,
      name: "Krzysztof",
      sname: "Jaworski",
      email: "krzysztof.jaworski@onet.pl",
    },
  ];

  var table = new Tabulator("#table", {
    layout: "fitColumns",
    height: 400,
    data: tabledata,
    columns: [
      { title: "Imię", field: "name", headerFilter: "input" },
      { title: "Nazwisko", field: "sname", headerFilter: "input" },
      { title: "Email", field: "email", headerFilter: "input" },
    ],
  });
</script>
{% endblock %}
